
<mat-toolbar>
    <h1>New Error</h1>
    <div class="spacer"></div>
    <a routerLink="/error" class="profile-icon"><mat-icon aria-hidden="false" aria-label="Profile">close</mat-icon></a>
</mat-toolbar>

<main class="p-2">

    <form (ngSubmit)="onSubmit()">

        <div [formGroup]="errorForm">

            <!-- Error Number -->

            <div class="form-group">

                <mat-label for="errno">
                    Error Number:
                </mat-label>
                
                <b>{{purchase.errno}}</b>
            </div>

            <br>

            <!-- Hashtag -->

            <div class="form-group">

                <mat-form-field appearance="fill">

                    <mat-label for="hashtag">Hashtag</mat-label>

                    <input matInput type="text" id="hashtag" [(ngModel)]="err.hashtag" formControlName="hashtag">
                </mat-form-field>
            </div>

            <!-- Error Details -->

            <div class="form-group">

                <mat-form-field appearance="fill">

                    <mat-label for="errname">Error Name</mat-label>

                    <input type="text" matInput [matAutocomplete]="auto" id="errname" required [(ngModel)]="err.name" formControlName="errname">

                    <button mat-button *ngIf="err.name" matSuffix mat-icon-button aria-label="Clear" (click)="clearError()">

                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <!-- Error Desc -->

            <div class="form-group">

                <mat-form-field appearance="fill">

                    <mat-label>Font size</mat-label>

                    <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
                        <mat-option value="10px">10px</mat-option>
                        <mat-option value="12px">12px</mat-option>
                        <mat-option value="14px">14px</mat-option>
                        <mat-option value="16px">16px</mat-option>
                        <mat-option value="18px">18px</mat-option>
                        <mat-option value="20px">20px</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field [style.fontSize]="fontSize.value">

                    <mat-label>Error Description</mat-label>

                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">

                    </textarea>
                </mat-form-field>
            </div>

            <!-- Error Sol. -->

            <div class="form-group">

                <mat-form-field appearance="fill">

                    <mat-label>Font size</mat-label>

                    <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
                        <mat-option value="10px">10px</mat-option>
                        <mat-option value="12px">12px</mat-option>
                        <mat-option value="14px">14px</mat-option>
                        <mat-option value="16px">16px</mat-option>
                        <mat-option value="18px">18px</mat-option>
                        <mat-option value="20px">20px</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field [style.fontSize]="fontSize.value">

                    <mat-label>Error Description</mat-label>

                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">

                    </textarea>
                </mat-form-field>
            </div>

            <!-- type -->

            <p>Error Type</p>

            <div class="form-group">
                <mat-radio-group [(ngModel)]="errlist.errtype" formControlName="errtype">
                    <mat-radio-button *ngFor="let mode of modes" [value]="mode">
                        {{mode}}
                    </mat-radio-button>                
                </mat-radio-group>
            </div>
        </div>

        <a mat-stroked-button routerLink="/error" class="btn-cancel" color="warn">Cancel</a>
        <button class="btn-submit" mat-stroked-button type="submit">Submit</button>
    </form>
</main>
